<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Symfony2 Translations Editor</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

        <!-- Le styles -->
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">

        <style type="text/css">
            body {
                padding-top: 60px;
            }
        </style>

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    </head>

    <body>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">Symfony2 Translation Editor</a>

                    <ul class="nav">
                        <li><a href="#" onclick="$('.alert-message').hide();$('#newlocale').show();$('#language').focus()">New Locale</a></li>
                        <li><a href="#" onclick="$('.alert-message').hide();$('#newtranslation').show();$('#domain').focus()">New Entry</a></li>
                        <li><a href="#" onclick="this.innerHTML = 'Reloading...';window.location.reload()">Reload List</a></li>
                        <li><a href="https://github.com/servergrove/TranslationEditorBundle">About</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="sidebar">
                <div class="well">
                    <h5>Available Locales</h5>

                    <ul style="padding: 0; margin: 0; list-style: none">
                        {% for locale in localeList %}
                        <li id="locale-{{loop.index}}" style="padding: 2px 0">
                            <input id="remove-locale-{{loop.index}}" class=" btn danger mysmall" type="button" value="Remove" onclick="confirm('Are you sure?') && removeLocale('{{loop.index}}', '{{ locale.getId() }}')">
                            {{locale}}
                            {% if locale == defaultLocale %}<span class="label">Default</span>{%endif%}
                        </li>
                        {% endfor %}
                    </ul>

                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>

            <div class="content">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>

</html>