{% extends "ServerGroveTranslationEditorBundle::layout.html.twig" %}

{% block sidebar %}
<script>

    function showAll()
    {
        $('.zebra-striped tbody tr.ok').show();
    }

    function showMissing()
    {
        $('.zebra-striped tbody tr.ok').hide();
    }

    function showEditor(id)
    {
        $('#current-' + id).hide();
        $('#editor-' + id).show();
        $('#editor-' + id + ' textarea').focus();
    }

    function hideEditor(id)
    {
        $('#current-' + id).show();
        $('#editor-' + id).hide();
    }

    function saveChange(id, key, locale)
    {
        $('#save-'+id).val('Saving...');

        var newVal =  $('#editor-' + id + ' textarea').val();

        $.ajax({
          type: "POST",
          url: '{{path('sg_localeditor_update')}}',
          data: {'key': key, 'locale':locale, 'val': newVal},
          success: function(data) {
              $('#save-'+id).val('Save');
              $('#current-' + id + '-content').html(newVal);
              hideEditor(id);
          }
        });
    }

    function removeEntry(id, key)
    {
        $('#remove-'+id).val('Removing...');

        $.ajax({
          type: "POST",
          url: '{{path('sg_localeditor_remove')}}',
          data: {'key': key},
          success: function(data) {
              $('#entry-'+id).remove();
          }
        });
    }

    function submitAjaxForm(form, callback)
    {
        var url = form.attr('action');
        //var url = form.action;

        var data = form.serializeArray();
        $('.alert-message').hide();

        $.ajax({
            url: url,
            dataType: 'json',
            data: data,
            type: 'POST',
            success: callback
        });
        return false;
    }

    function newCallback(data)
    {
        if (data && data.result) {
            $('#key').val('');
            $('#newtranslation textarea').val('');
            $('#insert-ok').show();
        } else {
            $('#insert-error').show();
        }

    }


</script>
<style>
    .editor {
        display: none;
    }

    .editor textarea {
        width: 100%;
        height: 100px;
    }

    .mysmall {
        padding: 5px; width: 50px;
        font-size: 9px;
    }

</style>
<h5>Stats</h5>
<ul>
    <li><a href="#" onclick="showAll()">Entries: {{locales[default].entries|length}}</a></li>
    <li><a href="#" onclick="showMissing()">Missing translations: {{missing|length}}</a></li>
</ul>
{% endblock %}

{% block body %}

<form id="newtranslation" style="display: none" method="POST"
      onsubmit="return submitAjaxForm($('#newtranslation'), newCallback)"

      action="{{path('sg_localeditor_add')}}">
    <label>Key:</label> <input type="text" id="key" name="key" style="width: 700px"/> </br>
    {% for locale, v in locales %}
    <label>{{locale}}:</label> <textarea name="locale[{{locale}}]" style="width: 700px; height: 100px"></textarea> </br>
    {% endfor %}
    <label></label><input type="submit" value="Save" class="btn primary">
    <input class="btn" type="button" value="Cancel" onclick="$('.alert-message').hide();$('#newtranslation').hide()">
    
    <p id="insert-ok" class="alert-message success" style="display: none">New translation inserted successfully</p>
    <p id="insert-error" class="alert-message error" style="display: none">An error ocurred while adding the translation</p>
</form>
<table class="zebra-striped">
    <thead>
    <tr>
        <th></th>
        <th>Key</th>
        {% for locale,v in locales %}
        <th>{{locale}}
            {% if locale == default %}<span class="label">Default</span>{%endif%}
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for key, val in locales[default].entries %}
    <tr id="entry-{{loop.index}}" {{missing[key] is defined ? 'class="missing"' : 'class="ok"'}}>
        <td>
            <input id="remove-{{loop.index}}" class=" btn danger mysmall" type="button" value="Remove" onclick="confirm('Are you sure?') && removeEntry('{{loop.index}}', '{{key}}')">
        </td>
        <td>{{key}}</td>
        {% for locale,v in locales %}
        <td>
            <div id="current-{{loop.parent.loop.index}}-{{locale}}">
                {% set exists = key in v.entries|keys %}
                <div id="current-{{loop.parent.loop.index}}-{{locale}}-content" onclick="showEditor('{{loop.parent.loop.index}}-{{locale}}')">{% if exists %}{{v.entries[key]}}{%endif%}</div>
                {% if locale != default and exists and v.entries[key] == locales[default].entries[key] %}
                    <span class="label warning">Duplicate</span>
                {% endif %}
                {% if not exists or v.entries[key]|length == 0 %}
                    <span class="label important" onclick="showEditor('{{loop.parent.loop.index}}-{{locale}}')">Missing</span>
                {% endif %}
            </div>
            <div id="editor-{{loop.parent.loop.index}}-{{locale}}" class="editor">
                <textarea>{% if exists %}{{v.entries[key]}}{%endif%}</textarea><br/>
                <input id="save-{{loop.parent.loop.index}}-{{locale}}"class="btn mysmall success" type="button" value="Save" onclick="saveChange('{{loop.parent.loop.index}}-{{locale}}', '{{key|e('js')}}', '{{locale}}')">
                <input class="btn mysmall" type="button" value="Cancel" onclick="hideEditor('{{loop.parent.loop.index}}-{{locale}}')">
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Example row of columns -->

<footer>
  <p>&copy; ServerGrove 2012</p>
</footer>
</div>

{% endblock %}